.taco-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.recipe-image {
  width: 10rem;
}
a {
  text-decoration: none;
}
nav > a {
  color: white;
}
.recipe-title {
  color: #558b51;
}
header {
  background-color: #ff5a34;
  color: white;
  padding: 1rem;
  font-weight: bold;
}
footer {
  background-color: #b5d066;
  padding: 1.5rem;
}
h1 {
  color: #146152;
}
body {
  margin: 0;
}
main {
  padding: 1rem;
}
.ingriedient-grid {
  width: fit-content;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
p {
  margin: 0;
}
.row-title {
  font-weight: bold;
}
.gray-background {
  background-color: #e5e5e5;
}
